{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block content %}

<body>
    <main>
        <h1>Categories</h1>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipts.all|length }}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
</body>
</html>
